<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        th,
        td
        {
            border: 1px,solid black;
        }
    </style>
</head>
<body>
    <form action="/user/new" method="get">
        <button>Add New  User</button>
    </form>
    <h2>List of all user</h2>
       <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>UserName</th>
        </tr>
        <% for(users of result) {%>
        <tr>
            <td><%=users.id%></td>
            <td><%=users.email %></td>
            <td><%=users.username %></td>
            <td><form method="GET" action="/user/<%=users.id%>/edit"><button>Edit</button></form></td>
            <td><form method="get" action="/user/<%=users.id%>/delete"><button>delete user</button></form></td>
        </tr>
        <% } %>
       </table>
</body>
</html>